<h1>Here are all your contacts!</h1>

  <% @contacts_all.each do |contact| %>

    <h1>Here is your contact:</h1>
    <p><%= contact.full_name %></p>

    <h3>Email:</h3>
    <p><%= contact.email %></p>

    <h4>Phone Number:</h4>
    <p><%= contact.phone_number %></p>

    <h4>Last Updated:</h4>
    <p><%= contact.updated_time %></p>

  <% end %>

  <a href="/create_new_contact">Create A New Contact</a>