<h1>Add your new contact:</h1>

<%= form_tag "/contacts/create", method: :post do %>
<div>
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name">
</div>
  <div>
  <label for="middle_name">Middle Name:</label> 
  <input type="text" name="middle_name">
</div>
<div>
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name">
</div>
<div>
  <label for="email">Email:</label>
  <input type="text" name="email">
</div>
<div>
  <label for="phone_number">Phone Number:</label>
  <input type="text" name="phone_number">
</div>
<input type="submit" value="Submit contact!">
<% end %>
