<h1>Here is your first contact:</h1>
<h3>Name:</h3>
<p><%= @contact.full_name %></p>

<h3>Email:</h3>
<p><%= @contact.email %></p>

<h4>Phone Number:</h4>
<p><%= @contact.phone_number %></p>

<a href="/">Home</a>
